body{
    background-color: wheat;
}
input{
    margin: 5px;
}
input[type=text]:focus{
    background-color: lightblue;
}
label{
    width: 100px;
    display: block;
}
fieldset{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "" "m"
    "" "t"
    "" "ev"
    "" "esz";
}
input[type=submit]:focus{
    margin: auto;
}
#kuldes{
    margin: auto;
    grid-area: k;
}
#evjarat{
    grid-area: ev;
}
#evjarat_szam{
    grid-area: esz;
}
#tipus{
    grid-area: t;
}
#marka{
    grid-area: m;
}